body,html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: crosshair;
}

#canvas{
    float: left;
    width: 100%;
    height: 100%;
}

#hidden{
    display: none;
}
.gun{
    position: absolute;
    background: url('../img/gun/test.png');
    background-size: 100% 100%;
    top:0;
    left: 0;
    width: 100px;
    height: 100px;
}