body,html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#canvas{
    float: left;
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

#hidden{
    display: none;
}
.coordinate{
    position: absolute;
    border: none;
    cursor: crosshair;
}
.coordinate.x{
    width: 100%;
    border-bottom: 1px dashed white;
    top: 50%;  
}
.coordinate.y{
    border-left: 1px dashed white;
    left: 50%;    
    height: 100%;
}