.annotation {
    width: 100%;
    height: inherit;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 48px !important;
    padding-left: 48px !important;
    background: white !important;
}
#ui_top_panel
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px !important;
}
.annotation .bg-light {
    background-color: white !important;
}

.annotation a,
.annotation button {
    color: #adadad !important;
}
.annotation button:focus,
.annotation button:active {
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}

.annotation a:hover {
    color: #000000;
}

.annotation .btn-transparent {
    background: none;
}

.annotation .seprator {
    border-right: 1px solid #dedcdc;
}

.annotation .far,
.annotation .fas {
    font-size: 1.5em;
    vertical-align: bottom;
}

.annotation nav {
    padding: 4px !important
}

.annotation .nav-link {
    padding: .5rem 1.5rem !important;
}

.annotation .crossBtn {
    background: gainsboro;
}

.annotation .t-container {
    display: table;
    width: 100%;
    height: 100%;
}

.annotation .t-cell {
    display: table-cell;
}

.annotation .alignMiddle {
    vertical-align: middle;
}

.annotation .leftSide {
    position: absolute;
    top: 48px;
    left: 0;
    height: -webkit-fill-available;
    z-index: 999999;
    width: 48px;
    background: #eeeeee;
}

.annotation ul.region_shape li {
    float: left;
    padding: 0 0.2em;
    fill: #ffffff;
    stroke: #000000;
}

.annotation .region_shape {
    padding: 0px;
}

.annotation ul.region_shape li {
    border-bottom: 1px solid #c7c7c7;
}

.annotation ul.region_shape {
    font-size: xx-large;
    list-style-type: none;
    overflow: hidden;
    padding: 0px 2px;
    margin: 0;
    text-align: center;
}

.annotation ul.region_shape li {
    width: 100%;
    padding: 0;
    fill: #ffffff;
    stroke: #000000;
}

.annotation ul.region_shape li:hover {
    cursor: pointer;
}

.annotation ul.region_shape .selected,
.annotation ul.region_shape li:hover {
    fill: #9E9E9E;
    stroke: #565656;
    background: #adadad;
}

.annotation button.btn.uploadImage {
    border: 1px dashed;
    padding: 17px;
    font-size: 2em;
    background: white;
}

.annotation svg {
    fill: #d9d9d9;
}

.annotation .rightContainer {
    width: 240px;
    max-width: 240px;
}

.annotation .rightContainer.panelHide {
    transition: width 0.3s ease-in-out;
}

.annotation .rightContainer .nav-tabs {
    border-bottom: 2px solid #ffffff;
}

.annotation .rightContainer .nav-tabs .nav-link {
    border: 0;
}

.annotation .panelList {
    position: relative;
    overflow: hidden;
    margin-top: 14px;
    padding-bottom: 25px;
    background: #e0e0e0;
    border: 1px solid white;
    border-radius: 10px 0px 0px 10px;    
    box-shadow: 0px 0px 2px 1px #a09c9c;
    z-index: 501;
    right: 3px;
}

.annotation div#panelContent {
    min-height: 250px;
    max-height: -webkit-fill-available;
    overflow-y: auto;
}
.annotation .panelFooter{
    position: absolute;
    padding: 5px 10px;
    bottom: 0;
    font-size: 10px;
    left: 0;
    width: 100%;
    height: 25px;
    background: #ffffff;
}
.annotation .panelHide .panelFooter{
    display: none;
}
.annotation .panelHide .panelList {
    overflow: hidden;
    padding-bottom: 0px;
}

.annotation .navTools {
    background: rgb(210, 210, 210);
    padding: 0px 5px;
    color: darkgray;
}

.annotation .tab-content ul {
    padding: 0px 5px;
    list-style: none;
}

.annotation .liCol {
    display: inline-block;
    vertical-align: bottom;
}

.annotation .liCol svg {
    stroke: #a8a8a8;
    fill: #d9d9d9;
    vertical-align: inherit;
}

.annotation .panelIcon {
    border-right: 1px solid #c7c7c7;
    padding: 0px 8px;
}

.annotation .imgIcon {
    border-right: 1px solid #c7c7c7;
    padding: 0;
    padding-right: 5px;
}

.annotation .panelIcon i {
    font-size: 17px;
    color: #adadad;
    vertical-align: initial;
}

.annotation .tabList li {
    border-bottom: 1px solid #c7c7c7;
    padding: 5px 0px;
}

.annotation .tabList li:last-child {
    border-bottom: none;
}

.annotation .imgThumb {
    width: 30px;
    height: 20px;
    border: 1px solid white;
}

.annotation .panelHide {
    width: 40px;
}

.annotation .panelHide .nav-tabs .nav-item {
    width: 100%;
}

.annotation .panelHide .nav-item a {
    padding: 15px 10px !important;
    text-align: center;
    font-size: 19px;
}

.annotation .panelHide .tab-content,
.annotation .nav-item span {
    display: none;
}

.annotation .panelHide .nav-tabs {
    border-bottom: none;
}

.annotation #loaded_img_panel {
    padding-left: 5px;
}

.annotation .panelHide #loaded_img_panel {
    display: none;
}

/* Defalut */

.annotation #message_panel {
    position: absolute;
    left: 0;
    bottom: 0px;
    line-height: 3em;
    width: 100%;
    background-color: rgb(238, 238, 238);
    color: #333332;
    font-size: small;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 500;
}

.annotation #image_canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.annotation #region_canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.annotation .canvasCell {
    padding: 15px;
}

.annotation #canvas_panel {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.annotation .annotation .text_panel li {
    list-style: none;
}

.annotation #loaded_img_panel {
    padding-left: 5px;
    display: inline-block;
}

.annotation .loading_spinbox {
    display: inline-block;
    border: 0.4em solid #cccccc;
    border-radius: 50%;
    border-top: 0.4em solid #000000;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.annotation .textOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    white-space: nowrap;
}
.annotation .annotation #moreImage{
    display: none;
}
.annotation #moreImage.active{
    display: initial;
}
.annotation ul#layerList .del {
    float: right;
    margin-top: 6px;
}
.annotation .imgDel{
    float: right;
    margin-top: 7px;
}
.annotation .imageText{
    display:inline-block;
    cursor:pointer;
    width:92%;
}
.annotation .menus a.nav-link {
    padding: .5rem 1.5rem !important;
}
.annotationHeading .heading h5 {
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    font-size: 1.05rem;
    color: #003a3b;
    margin-bottom: 10px;
    font-size: 1rem;
}
.displaycontent {
    height: calc(100% - 88px);
}
#display_area {
    display: flex;
}
.annotation .editorContent textarea{
    resize: none;
    border: none;
    background: #e0e0e0;
    min-height: 80px;
}
.annotation .editorContent textarea:focus{
    background:#efefef;
}
.annotation .form-control:focus {
    color: #495057;
    background-color: unset;
    border-color: unset;
    border: none;
    box-shadow: none;
}
.annotation .typeLink{
    cursor: pointer;
}
.annotation #editorSelection{
    background: inherit;
    border: none;
    outline: none;
    color: darkgray;
}
.annotation .panelList.withEditor{
    padding-bottom: 42px;
}
.annotation .times{
    font-size: 21px;
    color: #5a5a5a;
    line-height: 33px;
    vertical-align: text-bottom;
}
.annotation .withEditor .panelFooter{
    height: 41px;
    background: #fafafa;
}
.annotation #audio{
    width: 201px;
}
.annotation .editorContent {
    position: relative;
    top: 0;
    left: 0;
}
.annotation .visualization {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.annotation .editorContent:hover .visualization {
    display: none;
}